.create-report {
    padding: 1rem 0rem;
    width: 100%;
    background-color: #73cbf2;
}

.sortBtn {
    margin: 0px 10px;
    background-color: #c2d5aa;
    border-radius: 5px;

}

.sortBtn:hover {
    background-color: #b8cb9c;
}

.pipe {
    margin: 25px;
    display: inline;
}

.margin {
    margin:25px;
}

