<form tabindex="-1" role="dialog"
[formGroup]="form"
(ngSubmit)="onSubmit(form.value)">

    <fieldset>
        <div role="document">
            <div >
                <div>
                    <h1>New Pig Report</h1>
                </div>
                <div class="form-container">
                    <section class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Name</label>
                            <section class="col-sm-9">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Name" value="" formControlName="name" required>
                            </section>
                    </section>

                    <section class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Phone</label>
                            <section class="col-sm-9">
                                <input type="text" name="phone" class="form-control" id="phone" placeholder="Phone Number" value="" maxlength="10" formControlName="phone" required>
                            </section>
                    </section>

                    <section class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Breed</label>
                            <section class="col-sm-9">
                                <input type="text" name="breed" class="form-control" id="breed" placeholder="Breed" value="" formControlName="breed" required>
                            </section>
                    </section>

                    <section class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Pig ID</label>
                            <section class="col-sm-9">
                                <input type="text" name="pID" class="form-control" id="pID" placeholder="Pig ID" value="" formControlName="pID" required>
                            </section>
                    </section>

                    <section class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Location</label>
                        <section class="col-sm-9">
                            <input type="text" name="location" list="locations" class="form-control" id="location" placeholder="Location" value="" formControlName="location" (change)="inputLL(form.value)" required>
                            <datalist id="locations">
                                <option *ngFor="let location of existingLocations; let i = index" [value]="existingLocations[i].loc">
                                    {{existingLocations[i].loc}}
                                </option>
                            </datalist> 
                        </section>
                    </section>
                    
                    <section [ngStyle]="{'display':displayStyle}">
                        <section class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Longitude</label>
                                <section class="col-sm-9">
                                    <input type="number" name="longitude" class="form-control" id="longitude" placeholder="Longitude" value="" formControlName="longitude" required>
                                </section>
                        </section>

                        <section class="form-group row">
                            <label for="name" class="col-sm-3 col-form-label">Latitude</label>
                                <section class="col-sm-9">
                                    <input type="number" name="latitude" class="form-control" id="latitude" placeholder="Latitude" value="" formControlName="latitude" required>
                                </section>
                        </section>
                    </section>
                    

                    <section class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label">Extra Notes</label>
                            <section class="col-sm-9">
                                <input type="text" name="extra" class="form-control" id="extra" placeholder="Extra" value="" formControlName="extra">
                            </section>
                    </section>

                    <section class="form-group row">
                        <label for="category" class="col-sm-3 col-form-label">Status</label>
                            <section class="col-sm-9">
                                <select class="form-select" aria-label="Default select example" id="status" formControlName="status" required>
                                    <option value="READY FOR PICKUP" selected>READY FOR PICKUP</option>
                                </select>
                            </section>
                    </section>
                
                </div> 

                <div class="modal-footer">
                    <button type="submit" class="btn btn-outline-success" [disabled]="!form.valid">ADD PIG REPORT</button>
                    <button type="button" (click) = "returnToMain()" class="btn btn-outline-danger" >CANCEL</button>

                </div>

            </div> 
        
        </div>

    </fieldset>        

</form>



